<h1><u>Edit Stock Levels</u></h1>

<form action="/music/<%= info['id'] %>" method="post"> 
  <label>
    Artist:
    <input type:"text" name="name" value= "<%= @album.name %>">
  </label>
  <label>
    Album:
    <input type:"text" name="title" value= "<%= @album.title %>">
  </label>
  <label>
    Genre:
    <input type:"text" name="genre" value= "<%= @album.genre %>">
  </label>
  <label>
    Quantity:
    <input type="number" name="quantity" value= "<%= @album.quantity %>"/>
  </label>
  <input type = "submit" value= "Update Order"/>
</form>