
<h1>Inventory</h1>

<% Stock.all() %>

<form action = "/music/inventory" method = "post">
  <table>
    <tr>
      <th>Artist</th>
      
      <th>Album</th>
      
      <th>Genre</th>
      
      <th>Quantity</th>
      
      <th>Stock Level</th>
      
      <th>Adjust Stock</th>
      
    </tr>


    <% for @album in @info %>
    <tr>
      <td><%= @album['name'] %></td>
      
      <td><%= @album['title'] %></td>
      
      <td><%= @album['genre'] %></td>
      
      <td><%= @album['quantity'] %></td>
      
      <td><%= @album[:stock_level]%></td>
      
      <td><a href ="/music/<%= @album['id'] %>/edit">Edit Stock</a></td>

        
      </tr>

      <% end %>
    </table>
    
  </form>